<div>
  <% if current_user.nil? %>
  <p>
    Create an account or sign in to start playing Wagic!
  </p>
  <% else %>

    <%= link_to 'New Game', games_path, class: "btn btn-primary", method: :post %>
  <% end %>
  <ul>
    <% @games.each do |game| %>
      <li> <%= link_to game.id, game_path(game) %> </li>
    <% end %>

  </ul>

</div>
