<div class="wgc-board">
  <div hidden id="game-id">
    <%= @game.id %>
  </div>
  <% @game.users.each do |user| %>
    <%= user.email %>
  <% end %>

  <div class="flex-wrap tile-wrap" id="board">

  </div>

  <div class="user-info">
    <% if user_signed_in? && @game.user_check(current_user) %>
      You are part of this game!
    <% elsif user_signed_in? && !@game.user_check(current_user) && @game.users.length < 3 %>
      you are not part of this game
      <%= link_to "Join this game", game_join_game_path(@game) %>
    <% end %>
  </div>

  <div id='user-hand'>
      <p>Hand:</p>
        <div class="flex-box hand-wrapper">

        </div>

  </div>

  <div id='user-word'>
    <p>
      Create a word:
    </p>
    <div class="flex-box play-wrapper">

    </div>
      <button id="wagic" class='btn btn-primary'>Wagic!</button>
  </div>

</div>

<%= javascript_include_tag "game" %>
