<button type="button" name="button">Game Button</button>
<% if user_signed_in? && @game.user_check(current_user) %>
  You are part of this game!
<% elsif user_signed_in? && !@game.user_check(current_user) %>
  you are not part of this game
  <%= link_to "Join this game", game_path, method: :patch %>
<% end %>

<% @game.users.each do |user| %>
  <%= user.email %>
<% end %>
<br>
<br>

<div class="flex-wrap tile-wrapper">
<% @game_state.each do |horizontal| %>
<div class="flex-box" id="row<%= horizontal.first['coordX'] %> ">
    <% horizontal.each do |vertical| %>
      <%= link_to vertical['letter'],
      game_path(data: vertical),
      :method => :put,
      class: 'btn btn-primary btn-game tile',
      id: "coordX#{vertical["coordX"]}coordY#{vertical["coordY"]}",
      data: {
        coordX: vertical['coordX'],
        coordY: vertical['coordY'],
        color: vertical['color']},
      style: "background-color:#{vertical["color"]}" %>

    <% end %>

  </div>
<% end %>
</div>

<style media="screen">
  .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .flex-wrap {
    display: flex;
    flex-direction: row;
  }
  .tile {
    transition: border .1s;
  }
</style>
