$hp : #962A3C;
$xp: #4379E6;
$gold: #D09802;
.wgc-board { //Wrap your styles by page so there's no overlap. Any general styling goes outside
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  .board-wrapper {
    background: url("../background.png") no-repeat;
    position: relative;
    width: 414px;
    height: 736px;
    .overlay-image {
      background: url("../overlay2.png") no-repeat;
      position:absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #board {
    position: relative;
  }
  #user-hand {
    margin-top: 10px;
    justify-content: center;
    align-items:center;
    background: #444;
    height: 130px;
    .hand-wrapper {
      margin-left: 13px;
      justify-content: center;
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      width: 403px;
      &::-webkit-scrollbar {
        display: none;
      }
      .hand-tile {
        width: 54px;
        height: 54px;
      }
      // list items to display inline
    }
  }

  .show-cards {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    .play-wrapper {
      margin: 0.4rem;
      min-height: 6vh;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
    }
    .cards-content {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      width: 100%;
      height: 100%;
      justify-content: space-between;

      #user-word {
        min-width: 5.9vw;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        justify-content: center;
      }
      .cards-bottom {
        height: 40%;
        flex: 0 0 45%;
        justify-content: space-between;
        align-items: center;
        .action-button {
          width: 50%;
          display: inline-block;
          padding: 5px;
          background-color: #444;
          color: #afafaf;
          font-size: 3rem;
        }
      }
      .cards-top {
        height: 60%;
        .card-wrapper {
          flex: 1;
          height: 100%;
          justify-content: space-around;
          align-items: center;
        }
        .card {
          height: 65%;
          min-width: 20%;
          max-width: 20%;
          border: 2px solid;
          margin: 2.5%;
          background: #444;
          opacity: 1;
          transform: scale(1);
          transition: transform .3s;
          text-align: center;
          padding: 5px;
          .card-info {
            justify-content: space-around;
            .card-name {
              width: 100%;
            }
            .card-price {
              margin-left: 70%;
              color: $gold;
            }
            .card-effect {
              padding-top: 0.5rem;
              border-top: 2px solid;
              margin-top: 0.5rem;
            }
          }

          &:hover {
            position: relative;
            background: #555;
            border: 2px solid #fff;
            cursor: pointer;
            transform: scale(1.7);
            z-index: 1;
          }
        }
      }
      .spell-buttons {
        width: 100%;
        height: 7vh;
      }
    }
    // .mask {
    //   width: 100%;
    //   height: 100%;
    //   background: #444;
    //   opacity: 0.7;
    //   z-index: 1;
    // }
  }

  .game-header {
    height: 183px;
    color: #CECBCB;
    // background: #444;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

      .stats {
        width: 50%;
        height: 100%;
        float: left;
        z-index: 1;
        position: relative;
        .bar-wrapper {
        height: 10%;
        width: 70%;
        display: inline-block;
        position: absolute;
        bottom: 18px;
        background-color: #95130a;
        font-size: 12px;
        border: 2px solid #c88f3d;
        border-radius: 7px;
        }
        .xp {
          position:absolute;
          top: 15px;
        }
        // margin-top: 72%;
        &.player1 {
          .bar-wrapper {
            right: 38px;
          }
          .xp {
            left: 16px;
          }
        }
        &.player2 {
          .bar-wrapper {
            left: 35px;
          }
          .xp {
            right: 16px;
          }
        }
        .bar {
          transition: width 0.2s ease;
          height: 16px;
          text-align: center;
          line-height: 16px;
          width: 100%;
          display: inline-block;
        }

        &.health {
          .bar {
            background: $hp;
          }
        }

        &.xp {
          .bar {
            background: $xp;
          }
        }
        &.gold {
        }
      }

      .player {
        color: #afafaf;
        text-align: left;
        text-transform: uppercase;
        font-size: 1.5em;
        padding-left: 2rem;

        .word-spelled {
          font-size: 1.5rem;
        }

        &.active {
          color: #24A52A;
        }
      }
      .hp-caption, .xp-caption {
        width: 15%;
        display: inline-block;
      }
  }
  .tile {
    font-size: 2.3rem;
    transition: border .1s;
    position: relative;
    height: 47px;
    width: 47px;
    max-height: 70px;
    max-width: 70px;
    text-transform: uppercase;
    font-weight: 500;
    transition: -webkit-filter .3s;
    border-radius: 10%;
    margin: 1px;
    border-width: 0px;
    background-size: cover;
    .score {
      position: absolute;
      top: 0;
      right: 6%;
      font-size: 1.2rem;
    }

    span {
      color: #efefef;
      text-align: center;
      // transition: transform .3s;
    }

    &.selected {
      -webkit-filter: brightness(120%);
      span {
        transform: scale(1.5);
      }
    }

    //Using classes for color instead of inline styling will give you more options later on like hover colors etc
    &.green {
        background: #A3A948;
        border-color: #5B5F28;
      }
    &.blue {
        background-image: url("../tile-blue.png");
    }
    &.orange {
        background-image: url("../tile-yellow.png");
    }
    &.red {
        background-image: url("../tile-red.png");
        // border-color: #770C1D;
    }
  }
  .tile-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #444;
    padding: 5px;


  }
}

@media screen and (max-width: 800px) {
  .wgc-board {
    .tile {
      // height: 10vw;
      // width: 10vw;

    }
  }
}
