.wgc-board { //Wrap your styles by page so there's no overlap. Any general styling goes outside
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  .letter-wrapper, .hand-wrapper, .word-wrapper {
    // width: 480px;
  }

  .board-wrapper {
    max-width: 585px;
  }

  .game-header {
    // height: 150px;
    background: #444;
    color: #fff;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .header {
      float: left;
      width: 50%;
      background: #444;
      // height: 150px;
      display: inline-block;

      .player {
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;

        &.active {
          background: #7B7B70;
        }
      }

      .stats {
        padding: 0 10px;
      }

      .stat {
        margin: 5px 0;
        border-right: 3px solid #fff;
        border-left: 3px solid #fff;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 2px;
        .bar-wrapper {
          width: 85%;
          display: inline-block;
        }
        .bar {
          transition: width 0.2s ease;
          height: 16px;
          text-align: center;
          line-height: 16px;
          width: 100%;
          display: inline-block;
        }

        &.health {
          .bar {
            background: #f00;
          }
        }

        &.xp {
          .bar {
            background: #00f;
          }
        }
        &.gold {
        }
      }
    }
  }
  .tile {
    transition: border .1s;
    position: relative;
    height: 5.8vw;
    width: 5.8vw;
    max-height: 70px;
    max-width: 70px;
    text-transform: uppercase;
    font-weight: 500;
    transition: -webkit-filter .3s;
    border-radius: 10%;
    margin: 1px;
    border-width: 0px;

    span {
      color: #fff;
      text-align: center;
      // transition: transform .3s;
    }

    &.selected {
      -webkit-filter: brightness(120%);
      span {
        transform: scale(1.5);
      }
    }

    //Using classes for color instead of inline styling will give you more options later on like hover colors etc
    &.green {
        background: #A3A948;
        border-color: #5B5F28;
      }
    &.blue {
        background: #009989;
        border-color: #005048;
    }
    &.orange {
        background: #EDB92E;
        border-color: #826517;
    }
    &.red {
        background: #CE1836;
        border-color: #770C1D;
    }
  }
  .tile-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #444;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 5px;

    .flex-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }


  }
}

@media screen and (max-width: 800px) {
  .wgc-board {
    .tile {
      height: 10vw;
      width: 10vw;
    }
  }
} 

